#header {
	 top: 0;
	 position: sticky;
	 position: -webkit-sticky;
	 z-index: 10;
}
.tabs .tab a {
	color: grey;
}
.tabs .indicator {
    background-color: rgb(12,70,161);
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
	background-color: rgba(12,70,161,0.1);
	color: black;
}
.tabs .tab a:hover, .tabs .tab a.active {
	color: black;
}
input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgb(12,70,161);
    -webkit-box-shadow: 0 1px 0 0 rgb(12,70,161);
    box-shadow: 0 1px 0 0 rgb(12,70,161);
}
.collection {
	border: none;
}

#load_status {
	opacity: 0;
}